<section class="learn-section">
  <div class="header">
      <h1>
        Le Bureau d’Assistance Foncière (BAF) est une interface du Peey Lebu, qui met en relation les populations qui le saisissent avec des experts du foncier selon la nature du grief qu’elles ont.

        Toute personne ou famille peut formuler auprès du BAF une demande d’assistance par le biais d’une fiche de demande à travers l’écran de réception de la plateforme dédiée. Une fois la demande établie, des entretiens avec le demandeur permettent d’évaluer ensemble les besoins d’assistance.
      </h1>
  </div>
  
  <div class="content-sections">
      <!-- <div class="what-we-do">
          <h2>{{sections[0].title}}</h2>
      </div> -->
      
      <!-- <div class="content-blocks">
          <div class="insights-block">
              <div class="category-label">{{sections[0].category}}</div>
              <div class="content-wrapper">
                  <h3>{{sections[0].heading}}</h3>
                  <div class="description-box">
                      <p>{{sections[0].description}}</p>
                      <a href="#" class="explore-link">{{sections[0].link}}</a>
                  </div>
              </div>
          </div>
          
          <div class="services-block">
              <div class="category-label">{{sections[1].category}}</div>
              <div class="content-wrapper">
                  <h3>{{sections[1].title}}</h3>
                  <div class="description-box">
                      <ul>
                          <li *ngFor="let service of sections[1].services">
                              - {{service}}
                          </li>
                      </ul>
                      <a href="#" class="explore-link">{{sections[1].link}}</a>
                  </div>
              </div>
          </div>
          <div class="insights-block">
              <div class="category-label">Carrières</div>
              <div class="content-wrapper">
                  <h3>Rejoignez-nous</h3>
                  <div class="description-box">
                      <p>Nous ne réalisons pas seulement le potentiel de l'immobilier. Nous vous aidons à réaliser votre potentiel.</p>
                      <a href="#" class="explore-link">Explorer les carrières</a>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</section>