<div class="accueil">
    <div class="header" #mainHeader [class.white-bg]="isDropdownOpen">
        <h1 class="textcbre">
            <img class="logo" src="../img/pl-removebg-preview.png" alt=""></h1>
        
        <button class="hamburger-btn" [class.open]="isMenuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        
        <div class="menu" [class.open]="isMenuOpen">
            <ul>
                <li class="nav-item" 
                    (mouseenter)="showDropdown('services')" 
                    (mouseleave)="hideDropdown('services')">
                    <a class="Services" routerLink="/Services">Actualités</a>
                    <!-- <div class="dropdown-menu" [class.show]="activeDropdown === 'services'">
                        <div class="dropdown-content">
                            <div class="description">
                            <h1>Services</h1>
                            <p class="description-text">
                                Valorisez chaque dimension de votre 
                                portefeuille immobilier grâce à nos 
                                services intégrés.
                            </p>
                            <button>Voir l'aperçu</button>

                            </div>
                            <div class="dropdown-column">
                                <h3>Besoins</h3>
                                <ul>
                                    <li><a href="#">Investir, Financer & Évaluer</a></li>
                                    <li><a href="#">Planifier, Louer & Occuper</a></li>
                                    <li><a href="#">Concevoir & Construire</a></li>
                                    <li><a href="#">Gérer Biens & Portefeuilles</a></li>
                                    <li><a href="#">Transformer les Résultats Commerciaux</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>Types de Biens</h3>
                                <ul>
                                    <li><a href="#">Bureaux</a></li>
                                    <li><a href="#">Commerce</a></li>
                                    <li><a href="#">Industriel</a></li>
                                    <li><a href="#">Résidentiel Collectif</a></li>
                                    <li><a href="#">Hôtellerie</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>Secteurs</h3>
                                <ul>
                                    <li><a href="#">Centres de Données</a></li>
                                    <li><a href="#">Sciences de la Vie</a></li>
                                    <li><a href="#">Banque & Services Financiers</a></li>
                                    <li><a href="#">Tech, Médias & Télécommunications</a></li>
                                    <li><a href="#">Santé</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </li>
                <li class="nav-item" 
                    (mouseenter)="showDropdown('insights')" 
                    (mouseleave)="hideDropdown('insights')">
                    <a class="Insights&Research" routerLink="/Insights&Research">Opportinutés</a>
                    <!-- <div class="dropdown-menu" [class.show]="activeDropdown === 'insights'">
                        <div class="dropdown-content">
                            <div class="description">
                            <h1>Études & Recherche</h1>
                            <p class="description-text">
                                Notre plateforme inégalée d'études et d'analyses
                                du marché immobilier vous fournit des informations 
                                concrètes pour prendre des décisions commerciales 
                                éclairées.
                            </p>
                            <button>Explorer nos Études</button>

                            </div>
                            <div class="dropdown-column">
                                <h3>Besoins</h3>
                                <ul>
                                    <li><a href="#">Investir, Financer & Évaluer</a></li>
                                    <li><a href="#">Planifier, Louer & Occuper</a></li>
                                    <li><a href="#">Concevoir & Construire</a></li>
                                    <li><a href="#">Gérer Biens & Portefeuilles</a></li>
                                    <li><a href="#">Transformer les Résultats Commerciaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="dropdown-column">
                                <h3>Secteurs</h3>
                                <ul>
                                    <li><a href="#">Centres de Données</a></li>
                                    <li><a href="#">Sciences de la Vie</a></li>
                                    <li><a href="#">Banque & Services Financiers</a></li>
                                    <li><a href="#">Tech, Médias & Télécommunications</a></li>
                                    <li><a href="#">Santé</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </li>
                <!-- <li class="nav-item" 
                    (mouseenter)="showDropdown('properties')" 
                    (mouseleave)="hideDropdown('properties')">
                    <a class="Properties" routerLink="/Properties">A Propos</a>
                    <div class="dropdown-menu" [class.show]="activeDropdown === 'properties'">
                        <div class="dropdown-content">
                            <div class="description">
                            <h1>A Propos</h1>
                            <p class="description-text">
                                Le Bureau d’Assistance Foncière (BAF) est une interface du Peey Lebu, qui met en relation 
                                les populations qui le saisissent avec des experts du foncier selon la nature du grief qu’elles ont.

                                Toute personne ou famille peut formuler auprès du BAF une demande d’assistance par le biais d’une fiche
                                 de demande à travers l’écran de réception de la plateforme dédiée. 

                            </div>
                            <div class="dropdown-column">
                                <h3>À Louer</h3>
                                <ul>
                                    <li><a href="#">Biens Immobiliers à Louer</a></li>
                          
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>À Vendre</h3>
                                <ul>
                                    <li><a href="#">Biens Immobiliers à Vendre</a></li>
                                    <li><a href="#">Biens d'Investissement à Vendre</a></li>
                                
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    
                </li> -->
                <li class="nav-item" 
                    (mouseenter)="showDropdown('offices')" 
                    (mouseleave)="hideDropdown('offices')">
                    <a class="Offices" routerLink="/Offices">Video Tech</a>
                </li>
                <!-- <li class="nav-item" 
                    (mouseenter)="showDropdown('careers')" 
                    (mouseleave)="hideDropdown('careers')">
                    <a class="Careers" routerLink="/Careers">Carrières</a>
                </li> -->
                <li class="nav-item" 
                    (mouseenter)="showDropdown('about')" 
                    (mouseleave)="hideDropdown('about')">
                    <a class="About-as" routerLink="/About">À propos</a>
                </li>
            
                <li class="search-item">
                    <a class="Recherche" routerLink="/Recherche">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-icon">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="image-accueil">
        <img [src]="imagesPath[currentImageIndex]" alt="Accueil">
        
        <!-- Trait blanc -->
        <div class="divider-line"></div>
        
        <!-- Card avec texte synchronisé -->
        <div class="info-card">
            <h1>{{ texts[currentImageIndex] }}</h1>
            <p class="info-card-footer">{{ footerTexts[currentImageIndex] }}</p>
        </div>
        
        <div class="indicators">
            <span
                *ngFor="let image of imagesPath; let i = index"
                class="indicator"
                [class.active]="i === currentImageIndex"
                (click)="setCurrentImage(i)">
            </span>
        </div>
    </div>
    <!-- le composant Learn -->
    <app-learn></app-learn>
    <!-- le composant OurTake -->
    <app-ourtake></app-ourtake>
    <!-- le composant Latest -->
    <app-latest></app-latest>
    <!-- le composant Commitment -->
    <!-- <app-commitment></app-commitment> -->
</div>